SELECT 
  m.id,
  m.name,
  m.member_number,
  m.class_number,
  m.email,
  u.id AS auth_user_id,
  u.email AS auth_email,
  i.id AS identity_id,
  i.provider_id AS identity_email
FROM public.members m
LEFT JOIN auth.users u ON u.id = m.id
LEFT JOIN auth.identities i ON i.user_id = m.id AND i.provider = 'email'
WHERE m.member_number = '100' OR m.class_number = '100'
LIMIT 1;
