-- Temporarily disable the problematic trigger
DROP TRIGGER IF EXISTS ensure_member_email_before_write ON public.members;

-- Test that auth still works by querying a simple auth user
SELECT COUNT(*) as auth_user_count FROM auth.users LIMIT 1;
